table {
	width: 100%;
	border-spacing: 15px;
}

th, td {
	width: 33%;
	padding: 10px;
}

td.withBorder {
	border: 1px solid black;
	border-radius: 15px;
}

.tableButton {
	/*width: 50%;
	font-size: 12px;*/
}

td.discontinue {
	background-color: grey;
}

td.continue {
	background-color: white;
}

td.change {
	background-color: lightblue;
}

td.new {
	background-color: lightgreen;
}

td.changeForm {
}

table.changeFormTable {
	border-spacing: 0px;
}

td.changeFormText {
	width: 7%;
	/*border: 1px solid black;*/
	padding: 1px;
	font-size: 14px;
}

td.changeFormInput {
	width: 16%;
	padding: 0px;
	/*border: 1px solid black;*/
}

input.changeFormTable {
	margin: 0px 5px 0px 5px;
	border: 1px solid black;
	border-radius: 3px;
	width: 70px;
	font-size: 14px;
}

input.changeFormButton {
}

input#outputButton {
	display: none;
}
